
<table style="width:100%">
  <tr>
    <th>Ticket</th>
    <th>Price</th> 
    <th>Date</th>
    <th>Options</th>
  </tr>
  <% products.forEach((ticket)=>{ %>
    <tr>
    <td><%= ticket.name %></td>
    <td><%= ticket.price %></td>
    <td><%= ticket.date %></td>
    <td> <a href="admin/tickets/update/<%= ticket.id %>">Update</a> ||
    <a href="admin/tickets/delete/<%= ticket.id %>">Delete</a></td>
  </tr>
  <% }) %>
</table>